@model Cart

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <!-- Add other necessary meta tags and CSS links -->
</head>
<body>
    <h1>Shopping Cart</h1>
    please add some items to your cart
</body>
</html>
