@{
    ViewData["Title"] = "READ USER";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
    </style>
</head>
<body>

<div class="container">
    <h1 class="mt-5">Admin Page</h1>
    <div class="row">
        <div class="col-lg-3">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
            }
        </div>
        <div class="col-lg-3">
            <a href="/Customer/Index" class="btn btn-secondary">Products</a>
        </div>
        <div class="col-lg-3">
        <a href="/Admin/AllUsers" class="btn btn-secondary">Users</a>
        </div>
        <div class="col-lg-3">
        <a href="/Admin/Orders" class="btn btn-secondary">Orders</a>
        </div>
        
    </div>
</div>

</body>